* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: yellow;
}

Header {
    padding: 20px 25px;
    background-image: url(./images/big-photo.jpg);
    background-position: 100%;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

header h1 {
    font-weight: bold;
    font-size: 35px;
    color: yellow;
    text-shadow: 3px 3px 5px lightyellow;
    transition: 1s;
}

header h1:hover {
    font-size: 200px;
}

header nav {
    margin: 8px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}    

header nav ul li {
    display: inline;
}  

header nav ul li a {
    color: yellow;
    font-size: large;
    font-weight: bold;
    border-radius: 10px;
    padding: 10px 35px;
    text-shadow: 3px 3px 5px lightyellow;
}

header a {
    text-decoration: none;
    color: black;
    transition: 1s;
}

header a:hover {
    border: 2px solid wheat;
    border-radius: 10px;
    background-color: yellow;
    color: black;
    padding: 5px;
    background-image: linear-gradient(135deg, yellow, cyan);
    transform: rotateY(360deg);
}

.big-photo {
    height: 175px;
    background-image: url("./images/big-photo.jpg");
    background-size: cover;
    background-position: 100%;
    background-attachment: fixed;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.big-photo h3 {
    font-size: 25px;
    padding: 3px;
    border-radius: 10px;
    margin: 0px 100px 20px 0px;
    background-image: linear-gradient(90deg, yellow, cyan);
    transition: 1s;
}

.big-photo h3:hover{
    transform: rotateY(360deg) ;
}

.about-me {
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-me h2 {
    font-size: 35px;
    margin-left: 50px;
    padding: 20px;
    text-align: right;
}

.about-me p {
    margin: 5px 5px 5px 5px;
    padding: 20px;
    border-left: 2px solid black;
    text-align: left;
}

